In [1]:
#Creating a student ID set
student_id = {1,2,3,4,5}
print("Student ID:", student_id)

Student ID: {1, 2, 3, 4, 5}

In [3]:
# create a set of string types
Name = {"C", "O", "N", "R", "A", "D"}
print("Name", Name)
#it prints the first and last letter then the second and the second to last and so on.

Name {'C', 'D', 'R', 'N', 'O', 'A'}

In [4]:
#create a mixed_set of data types
mixed = {"Hi", 200, "Bacon", 57}
print("Your mom:", mixed)

Your mom: {200, 57, 'Hi', 'Bacon'}

In [9]:
#create a set for this information and assign to a variable called Student_ID
classes = ("THE,MTH,CSC")
student_id = {"Conrad", classes, "Homework", "Question: 1", 80.0, "September 27th 2023"}
print(student_id)

{80.0, 'THE,MTH,CSC', 'Question: 1', 'Conrad', 'Homework', 'September 27th 2023'}

In [2]:
#Getting a position value out of a set
mixed = {"Hi", 200, "Bacon", 57}
print("Your mom:", mixed)
set(mixed)
 
print("Hi" in mixed)

Your mom: ('Hi', 200, 'Bacon', 57)
True

In [15]:
#set with int, tuples, float, string

random_crap = {"HELP ME", 991, 99.1, (12,18,24)}
print(random_crap)

{(12, 18, 24), 99.1, 'HELP ME', 991}

In [18]:
#set with int, lists, float, string

random_crap = {"HELP ME", 991, 99.1, [1,2,3,4]}

In [1]:
#set with int, sets, float, string
random_crap = {"HELP ME", 991, 99.1, {1,2,3,4}}
print(random_crap)

TypeError: unhashable type: 'set'

In [24]:
#ignoring duplicates
numbers = {2,4,6,6,2,8}
print(numbers)

{8, 2, 4, 6}

In [27]:
#create an empty set
empty_set = set()
print(empty_set)

set()

In [28]:
#add numbers in a set
numbers = {2,4,6,6,2,8}
numbers.add(1)
print(numbers)

{1, 2, 4, 6, 8}

In [37]:
classes = {"MTH", "PHS", "CHEM", "BIO"}
new_class = ["English"]

classes.update(new_class)
print(classes)

{'CHEM', 'English', 'MTH', 'PHS', 'BIO'}

In [5]:
#my classes
classes = {"CALC1", "CSC106", "ENR200", "ENR101", "FYE", "Presidents Seminar","CTH101"}
new_classes = ["Calc2", "Search For Truth", "ENR#", "CSC#"]

classes.update(new_classes)
print(classes)

{'CTH101', 'Calc2', 'FYE', 'ENR101', 'Presidents Seminar', 'Search For Truth', 'ENR#', 'CSC106', 'CSC#', 'ENR200', 'CALC1'}

In [3]:
#Removing a part of the set
#my classes
classes = {"CALC1", "CSC106", "ENR200", "ENR101", "FYE", "Presidents Seminar","CTH101"}
new_classes = ["Calc2", "Search For Truth", "ENR#", "CSC#"]

classes.update(new_classes)
classes.discard('CALC2')
print(classes)

{'CTH101', 'Calc2', 'FYE', 'ENR101', 'Presidents Seminar', 'Search For Truth', 'ENR#', 'CSC106', 'CSC#', 'ENR200', 'CALC1'}

In [10]:
'''
1. Create a tuple : First_name, Middle_name, Last_name 
2. Create a list : CSC106, 90, A
3. Create a set : 7500, University Driver, Bismarck, ND, 58504
'''

#tuple,list,set
name = ("Conrad", "Scott", "Mercer")
cs_class = ["CSC106", 90, "A"]
address = {7500, "University Drive", "Bismark", "ND", 5804}

address.update(cs_class, name)

print(address)

{'ND', 'Conrad', 7500, 'University Drive', 90, 'Bismark', 'Scott', 5804, 'CSC106', 'Mercer', 'A'}