In [1]:
class Parrot:
    
    name = ""
    age = 0
    
parrot1 = Parrot()
parrot1.name = "Cyprian"
parrot1.age = 1829

print(f"{parrot1.name} is {parrot1.age} years old")

retard is 1829 years old

In [2]:
class Parrot:
    
    name = ""
    age = 0
    
parrot1 = Parrot()
parrot1.name = "Cyprian"
parrot1.age = 1829

print(f"{parrot1.name} is a {parrot1.age} years old")

retard is a 1829 years old

In [4]:
class Parrot:
    
    name = ""
    age = 0
    
parrot1 = Parrot()
parrot1.name = "Cyprian"
parrot1.age = 1829

parrot2 = Parrot()
parrot2.name = "Cyril"
parrot2.age = 5


print(f"{parrot1.name} is {parrot1.age} years old")

Cyprian is 1829 years old

In [5]:
class Parrot:
    
    name = ""
    age = 0
    color = ""
    
    
parrot1 = Parrot()
parrot1.name = "Cyprian"
parrot1.age = 1829
parrot1.color = "Blue"

parrot2 = Parrot()
parrot2.name = "Cyril"
parrot2.age = 5
parrot2.color = "Orange"


print(f"{parrot1.name} is {parrot1.age} years old")

Cyprian is 1829 years old

In [9]:
class Eagle: 
    
    name = ""
    age = 0
    color = ""
    
eagle1 = Eagle()
eagle1.name = "Athanaius"
eagle1.age = 800
eagle1.color = "bronze"


print(f" The {eagle1.age} year old {eagle1.color} eagle name is {eagle1.name}")

 The 800 year old bronze eagle name is Athanaius